<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.basecamp.campong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_campong"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_campong_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Campong"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.SetMapActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${mapKey}" />

        <activity android:name=".view.AcceptActivity" />
        <activity android:name=".view.EditPostActivity" />
        <activity android:name=".view.EditProfileActivity" />
        <activity android:name=".view.FilterActivity" />
        <activity android:name=".view.LendActivity" />
        <activity android:name=".view.QrViewActivity" />
        <activity android:name=".view.ReqReserveActivity" />
        <activity
            android:name=".view.ScanQrActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".view.SearchActivity" />
        <activity android:name=".view.ShowPostActivity" />
        <activity android:name=".view.MapActivity" />
        <activity
            android:name=".view.WritePostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.SignupActivity"
            android:parentActivityName=".view.LoginActivity" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".SearchLocationActivity" />
    </application>

</manifest>